/ {
  keymap {
    trans { // Layer NUMBER
      display-name = "NAME ME";
      bindings = <
  &trans   &trans   &trans   &trans   &trans   &trans   &trans                                                         &trans   &trans   &trans   &trans   &trans   &trans   &trans
  &trans   &trans   &trans   &trans   &trans   &trans   &trans                                                         &trans   &trans   &trans   &trans   &trans   &trans   &trans
  &trans   &trans   &trans   &trans   &trans   &trans   &trans            &trans   &trans   &trans   &trans            &trans   &trans   &trans   &trans   &trans   &trans   &trans
  &trans   &trans   &trans   &trans   &trans   &trans                              &trans   &trans                              &trans   &trans   &trans   &trans   &trans   &trans
  &trans   &trans   &trans   &trans   &trans                     &trans   &trans   &trans   &trans   &trans   &trans                     &trans   &trans   &trans   &trans   &trans
      >;
    };
    none { // Layer NUMBER
      display-name = "NAME ME";
      bindings = <
  &none   &none   &none   &none   &none   &none   &none                                                   &none   &none   &none   &none   &none   &none   &none
  &none   &none   &none   &none   &none   &none   &none                                                   &none   &none   &none   &none   &none   &none   &none
  &none   &none   &none   &none   &none   &none   &none           &none   &none   &none   &none           &none   &none   &none   &none   &none   &none   &none
  &none   &none   &none   &none   &none   &none                           &none   &none                           &none   &none   &none   &none   &none   &none
  &none   &none   &none   &none   &none                   &none   &none   &none   &none   &none   &none                   &none   &none   &none   &none   &none
      >;
    };
  };
};
